@model RentalVehicle.Models.RentalBooking

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RentalBooking</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RentalStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RentalStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RentalEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RentalEndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PickupLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PickupLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DropoffLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DropoffLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InitialRentalDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InitialRentalDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RentalPricePerDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RentalPricePerDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InitialTotalDueAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InitialTotalDueAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InitialCheckNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InitialCheckNotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustomerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vehicles.Model)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BookingID">Edit</a> |
    @if (HttpContextAccessor.HttpContext.Session.GetString("Role") == "Admin")
    {
        <a asp-action="Delete" asp-route-id="@Model?.BookingID">Delete</a>
 
    }
    <a asp-action="Index">Back to List</a>
</div>
