@model RentalVehicle.Models.VehicleReturn

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>VehicleReturn</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActualReturnDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActualReturnDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActualRentalDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActualRentalDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mileage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mileage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConsumedMileage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConsumedMileage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinalCheckNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinalCheckNotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdditionalCharges)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdditionalCharges)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActualTotalDueAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActualTotalDueAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RentalTransaction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RentalTransaction.TransactionID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ReturnID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
