@model IEnumerable<RentalVehicle.Models.RentalTransaction>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ActualTotalDueAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalRemaining)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalRefundedAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentDetails)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedTransactionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentalBooking)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ActualTotalDueAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalRemaining)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalRefundedAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentDetails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedTransactionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentalBooking.InitialCheckNotes)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TransactionID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TransactionID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TransactionID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
